USE [TPI_SegundoVersion3]
GO
/****** Object:  User [teg_user_bd]    Script Date: 6/30/2025 11:41:16 PM ******/
CREATE USER [teg_user_bd] FOR LOGIN [teg_user_bd] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [teg_user_bd]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [teg_user_bd]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [teg_user_bd]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [teg_user_bd]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [teg_user_bd]
GO
ALTER ROLE [db_datareader] ADD MEMBER [teg_user_bd]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [teg_user_bd]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [teg_user_bd]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [teg_user_bd]
GO
/****** Object:  Table [dbo].[Bots]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bots](
	[id_bot] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[dificultad] [varchar](15) NULL,
	[id_tipo_jugador] [varchar](10) NULL,
 CONSTRAINT [pk_id_bot] PRIMARY KEY CLUSTERED 
(
	[id_bot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continentes]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continentes](
	[id_continente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[cantidad_paises] [int] NULL,
	[conquistado] [bit] NULL,
 CONSTRAINT [pk_id_continente] PRIMARY KEY CLUSTERED 
(
	[id_continente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[id_jugador] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[color] [varchar](15) NULL,
	[estado_jugador] [varchar](15) NULL,
	[fichas_totales] [int] NULL,
	[objetivo] [int] NULL,
	[id_tipo_jugador] [varchar](10) NULL,
	[partida] [int] NULL,
	[id_usuario] [int] NULL,
	[id_bot] [int] NULL,
	[dificultad] [varchar](20) NULL,
	[numeroCanje] [int] NULL,
 CONSTRAINT [pk_id_jugador] PRIMARY KEY CLUSTERED 
(
	[id_jugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objetivos]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objetivos](
	[id_objetivo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[estado] [bit] NULL,
	[tipo] [varchar](15) NULL,
 CONSTRAINT [pk_id_objetivo] PRIMARY KEY CLUSTERED 
(
	[id_objetivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[continente] [int] NULL,
	[ejercito] [int] NULL,
	[jugador] [int] NULL,
	[partida] [int] NULL,
 CONSTRAINT [pk_id_pais] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises_Vecinos]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises_Vecinos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pais] [int] NULL,
	[id_pais_vecino] [int] NULL,
 CONSTRAINT [pk_paises_vecinos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partida_objetivos]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partida_objetivos](
	[partida_id] [int] NOT NULL,
	[objetivo_id] [int] NOT NULL,
 CONSTRAINT [PK_partida_objetivos] PRIMARY KEY CLUSTERED 
(
	[partida_id] ASC,
	[objetivo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[id_partida] [int] IDENTITY(1,1) NOT NULL,
	[estado_partida] [varchar](15) NULL,
	[cantidad_jugadores] [int] NULL,
	[ronda] [int] NULL,
	[turno] [int] NULL,
	[fase] [varchar](15) NULL,
 CONSTRAINT [pk_id_partida] PRIMARY KEY CLUSTERED 
(
	[id_partida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjetas]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjetas](
	[id_tarjeta] [int] IDENTITY(1,1) NOT NULL,
	[simbolo] [varchar](15) NULL,
	[pais] [int] NULL,
	[jugador] [int] NULL,
 CONSTRAINT [pk_id_tarjeta] PRIMARY KEY CLUSTERED 
(
	[id_tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/30/2025 11:41:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[contrasenia] [varchar](50) NULL,
	[nivel] [int] NULL,
	[id_tipo_jugador] [varchar](10) NULL,
 CONSTRAINT [pk_id_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bots] ON 

INSERT [dbo].[Bots] ([id_bot], [descripcion], [dificultad], [id_tipo_jugador]) VALUES (1, N'Miguel', N'INTERMEDIO', N'BOT')
SET IDENTITY_INSERT [dbo].[Bots] OFF
GO
SET IDENTITY_INSERT [dbo].[Continentes] ON 

INSERT [dbo].[Continentes] ([id_continente], [nombre], [cantidad_paises], [conquistado]) VALUES (1, N'Africa', 6, 0)
INSERT [dbo].[Continentes] ([id_continente], [nombre], [cantidad_paises], [conquistado]) VALUES (2, N'Europa', 9, 0)
INSERT [dbo].[Continentes] ([id_continente], [nombre], [cantidad_paises], [conquistado]) VALUES (3, N'AmericaSur', 6, 0)
SET IDENTITY_INSERT [dbo].[Continentes] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([id_jugador], [nombre], [color], [estado_jugador], [fichas_totales], [objetivo], [id_tipo_jugador], [partida], [id_usuario], [id_bot], [dificultad], [numeroCanje]) VALUES (1, N'BotNovato', NULL, NULL, NULL, NULL, N'BOT', NULL, NULL, NULL, N'NOVATO', 0)
INSERT [dbo].[Jugadores] ([id_jugador], [nombre], [color], [estado_jugador], [fichas_totales], [objetivo], [id_tipo_jugador], [partida], [id_usuario], [id_bot], [dificultad], [numeroCanje]) VALUES (2, N'BotNovato', NULL, NULL, NULL, NULL, N'BOT', NULL, NULL, NULL, N'NOVATO', 0)
INSERT [dbo].[Jugadores] ([id_jugador], [nombre], [color], [estado_jugador], [fichas_totales], [objetivo], [id_tipo_jugador], [partida], [id_usuario], [id_bot], [dificultad], [numeroCanje]) VALUES (3, N'BotNovato', NULL, NULL, NULL, NULL, N'BOT', NULL, NULL, NULL, N'NOVATO', 0)

SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Objetivos] ON 

INSERT [dbo].[Objetivos] ([id_objetivo], [descripcion], [estado], [tipo]) VALUES (1, N'Destruir Totalmente al Ejercito Negro', 0, N'ELIMINAR')
INSERT [dbo].[Objetivos] ([id_objetivo], [descripcion], [estado], [tipo]) VALUES (2, N'Destruir Totalmente al Ejercito Magenta', 1, N'ELIMINAR')
INSERT [dbo].[Objetivos] ([id_objetivo], [descripcion], [estado], [tipo]) VALUES (3, N'Destruir Totalmente al Ejercito Amarillo', 0, N'ELIMINAR')
SET IDENTITY_INSERT [dbo].[Objetivos] OFF
GO
SET IDENTITY_INSERT [dbo].[Paises] ON 

INSERT [dbo].[Paises] ([id_pais], [nombre], [continente], [ejercito], [jugador], [partida]) VALUES (2, N'Argentina', 3, 11, 218, NULL)
INSERT [dbo].[Paises] ([id_pais], [nombre], [continente], [ejercito], [jugador], [partida]) VALUES (3, N'Brasil', 3, 1, 218, NULL)
INSERT [dbo].[Paises] ([id_pais], [nombre], [continente], [ejercito], [jugador], [partida]) VALUES (4, N'Chile', 3, 2, 53, NULL)
SET IDENTITY_INSERT [dbo].[Paises] OFF
GO
SET IDENTITY_INSERT [dbo].[Paises_Vecinos] ON 

INSERT [dbo].[Paises_Vecinos] ([id], [id_pais], [id_pais_vecino]) VALUES (1, 2, 3)
INSERT [dbo].[Paises_Vecinos] ([id], [id_pais], [id_pais_vecino]) VALUES (2, 2, 4)
INSERT [dbo].[Paises_Vecinos] ([id], [id_pais], [id_pais_vecino]) VALUES (3, 2, 5)
GO
SET IDENTITY_INSERT [dbo].[Paises_Vecinos] OFF
GO
SET IDENTITY_INSERT [dbo].[Partidas] ON 

SET IDENTITY_INSERT [dbo].[Tarjetas] ON 

INSERT [dbo].[Tarjetas] ([id_tarjeta], [simbolo], [pais], [jugador]) VALUES (1, N'INFANTERIA', 2, NULL)
INSERT [dbo].[Tarjetas] ([id_tarjeta], [simbolo], [pais], [jugador]) VALUES (2, N'CABALLERIA', 3, NULL)
INSERT [dbo].[Tarjetas] ([id_tarjeta], [simbolo], [pais], [jugador]) VALUES (3, N'ARTILLERIA', 4, NULL)
SET IDENTITY_INSERT [dbo].[Tarjetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [contrasenia], [nivel], [id_tipo_jugador]) VALUES (1, N'JoaquinX', N'1234', 1, N'HUMANO')
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [contrasenia], [nivel], [id_tipo_jugador]) VALUES (4, N'MatiX', N'1234', 1, NULL)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [contrasenia], [nivel], [id_tipo_jugador]) VALUES (6, N'UserX', N'1234', 1, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Jugadores] ADD  DEFAULT ((0)) FOR [numeroCanje]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [fk_id_objetivo] FOREIGN KEY([objetivo])
REFERENCES [dbo].[Objetivos] ([id_objetivo])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [fk_id_objetivo]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [fk_id_partida] FOREIGN KEY([partida])
REFERENCES [dbo].[Partidas] ([id_partida])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [fk_id_partida]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Bots] FOREIGN KEY([id_bot])
REFERENCES [dbo].[Bots] ([id_bot])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Bots]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Usuarios]
GO
ALTER TABLE [dbo].[Paises]  WITH CHECK ADD  CONSTRAINT [fk_id_continente] FOREIGN KEY([continente])
REFERENCES [dbo].[Continentes] ([id_continente])
GO
ALTER TABLE [dbo].[Paises] CHECK CONSTRAINT [fk_id_continente]
GO
ALTER TABLE [dbo].[Paises]  WITH CHECK ADD  CONSTRAINT [fk_id_jugador] FOREIGN KEY([jugador])
REFERENCES [dbo].[Jugadores] ([id_jugador])
GO
ALTER TABLE [dbo].[Paises] CHECK CONSTRAINT [fk_id_jugador]
GO
ALTER TABLE [dbo].[Paises]  WITH CHECK ADD  CONSTRAINT [fk_pais_partida] FOREIGN KEY([partida])
REFERENCES [dbo].[Partidas] ([id_partida])
GO
ALTER TABLE [dbo].[Paises] CHECK CONSTRAINT [fk_pais_partida]
GO
ALTER TABLE [dbo].[Paises_Vecinos]  WITH CHECK ADD  CONSTRAINT [fk_pais] FOREIGN KEY([id_pais])
REFERENCES [dbo].[Paises] ([id_pais])
GO
ALTER TABLE [dbo].[Paises_Vecinos] CHECK CONSTRAINT [fk_pais]
GO
ALTER TABLE [dbo].[Paises_Vecinos]  WITH CHECK ADD  CONSTRAINT [fk_pais_vecino] FOREIGN KEY([id_pais_vecino])
REFERENCES [dbo].[Paises] ([id_pais])
GO
ALTER TABLE [dbo].[Paises_Vecinos] CHECK CONSTRAINT [fk_pais_vecino]
GO
ALTER TABLE [dbo].[partida_objetivos]  WITH CHECK ADD  CONSTRAINT [FK_objetivo] FOREIGN KEY([objetivo_id])
REFERENCES [dbo].[Objetivos] ([id_objetivo])
GO
ALTER TABLE [dbo].[partida_objetivos] CHECK CONSTRAINT [FK_objetivo]
GO
ALTER TABLE [dbo].[partida_objetivos]  WITH CHECK ADD  CONSTRAINT [FK_partida] FOREIGN KEY([partida_id])
REFERENCES [dbo].[Partidas] ([id_partida])
GO
ALTER TABLE [dbo].[partida_objetivos] CHECK CONSTRAINT [FK_partida]
GO
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [fk_id_pais] FOREIGN KEY([pais])
REFERENCES [dbo].[Paises] ([id_pais])
GO
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [fk_id_pais]
GO
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [fk_tarjeta_jugador] FOREIGN KEY([jugador])
REFERENCES [dbo].[Jugadores] ([id_jugador])
GO
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [fk_tarjeta_jugador]
GO
ALTER TABLE [dbo].[Bots]  WITH CHECK ADD  CONSTRAINT [CK_Bots_dificultad] CHECK  (([dificultad]='EXPERTO' OR [dificultad]='INTERMEDIO' OR [dificultad]='NOVATO'))
GO
ALTER TABLE [dbo].[Bots] CHECK CONSTRAINT [CK_Bots_dificultad]
GO
ALTER TABLE [dbo].[Bots]  WITH CHECK ADD  CONSTRAINT [CK_Bots_tipo] CHECK  (([id_tipo_jugador]='BOT' OR [id_tipo_jugador]='HUMANO'))
GO
ALTER TABLE [dbo].[Bots] CHECK CONSTRAINT [CK_Bots_tipo]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [chk_color] CHECK  (([color]='MAGENTA' OR [color]='AMARILLO' OR [color]='AZUL' OR [color]='NEGRO' OR [color]='ROJO' OR [color]='VERDE'))
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [chk_color]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [CK_Jugadores_estado] CHECK  (([estado_jugador]='GANADOR' OR [estado_jugador]='ELIMINADO' OR [estado_jugador]='ACTIVO'))
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [CK_Jugadores_estado]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [CK_Jugadores_tipo] CHECK  (([id_tipo_jugador]='HUMANO' OR [id_tipo_jugador]='BOT'))
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [CK_Jugadores_tipo]
GO
ALTER TABLE [dbo].[Objetivos]  WITH CHECK ADD  CONSTRAINT [CK_Objetivos_tipo] CHECK  (([tipo]='ELIMINAR' OR [tipo]='CONQUISTA'))
GO
ALTER TABLE [dbo].[Objetivos] CHECK CONSTRAINT [CK_Objetivos_tipo]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [CK_Partidas_fase] CHECK  (([fase]='REAGRUPACION' OR [fase]='ATAQUE' OR [fase]='COLOCACION'))
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [CK_Partidas_fase]
GO
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [CK_Tarjetas_simbolo] CHECK  (([simbolo]='ARTILLERIA' OR [simbolo]='CABALLERIA' OR [simbolo]='INFANTERIA'))
GO
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [CK_Tarjetas_simbolo]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_tipo] CHECK  (([id_tipo_jugador]='BOT' OR [id_tipo_jugador]='HUMANO'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_tipo]
GO
